.card {
  align-items: center;
  background-color: #036b52;
  border: 8px solid white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 549px;
  margin: 50px auto;
  width: 368px;
}

.container-nameImage {
  background-color: #023031;
  border-radius: 10px;
  color: white;
  font-style: italic;
  height: 313px;
  margin-top: 10px;
}

.card img {
  border-radius: 10px 10px 0 0;
  height: 278px;
  width: 317px;
}

.rarity-name {
  display: flex;
  justify-content: space-between;
}

.nomeCard {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 20px;
}

.raridadeCard {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 2px 7px;
}

.description {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-size: 13px;
  height: 147px;
  margin: 5px 0;
  min-height: 50px;
  padding: 5px;
  width: 317px;
}

.atributos {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 5px;
  width: 317px;
}

.tryunfo {
  color: orange;
  margin: 0 0 10px;
}
