.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

label {
  margin: 5px 0;
}

.textArea, .name, .raridade {
  display: flex;
  flex-direction: column;
}

.textArea textarea, .name input, .raridade select {
  background-color: #fafafa;
  border: none;
  border-bottom: 1px solid #3d495c;
  width: 355px;
}

.name input, .atributo input, .imagem input {
  font-size: 16px;
  height: 37px;
}

.atributo input, .imagem input {
  margin-left: 5px;
}

.textArea textarea {
  height: 80px;
}

.atributo input {
  width: 270px;
}

.imagem input {
  width: 284px;
}

.raridade select {
  height: 40px;
}

.super {
  margin: 10px 0;
  width: 355px;
}

.super input {
  margin-right: 8px;
}

.save-button {
  background-color: #003be5;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 30px 255px 0 0;
  padding: 8px 32px;
}

.save-button:disabled {
  background-color: gray;
}
