* {
  box-sizing: border-box;
  font-family: Montserrat , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #3d495c;
}

.container-addCard {
  display: flex;
  height: 700px;
  justify-content: space-evenly;
}

.container-form {
  background-color: #fafafa;
  width: 60%;
}

.container-form h2 {
  margin-top: 15px;
  text-align: center;
}

.container-preview {
  background-color: #023031;
  width: 40%;
}

.container-preview h2 {
  color: white;
  margin-top: 15px;
  text-align: center;
}

.card-list, .card-item {
  display: flex;
}

.card-list {
  flex-wrap: wrap;
}

.card-item {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.delete-button {
  background-color: #003be5;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 20px;
  padding: 8px 32px;
}
